/** GLOBAL **/
*{
	margin:0;
	padding:0;
}

@font-face{
	font-family:"Medium";
	src:url("../fonts/Quicksand-Medium.ttf")
}

@font-face{
	font-family:"Roboto";
	src:url("../fonts/Roboto-Regular.ttf")
}

@font-face{
	font-family:"Proxima";
	src:url("../fonts/Mark Simonson - Proxima Nova Alt Bold.otf")
}

@font-face{
	font-family:"Apple Display";
	src:url("../fonts/SF-Pro-Display-Semibold.otf")
}

@font-face{
	font-family:"Apple Text";
	src:url("../fonts/SF-Pro-Text-Regular.otf")
}

body{
	margin:0;
	font-family:Apple Text;
	font-size:18px;
	color:black;
	line-height: 1.8em;
	overflow-x: hidden;
	overflow-y: visible;
}
/** GLOBAL **/

/** HEADER1 **/

header{
	background-image: url("../images/about.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

#texts {
	width: 100%;
	text-align: center;
	margin-top: 40%;
	color: white;
}

#texts h1{
	font-family: Proxima;
	letter-spacing: 0.1rem;
	font-size: 100px;
	line-height: 80px;
}

header .container{
	width:92%;
	margin:auto;
}

header a{
	font-family: Apple Text;
	color:#ffffff;
	text-decoration: none;
	font-size: 23px;
}

header a:hover{
	color:#cd6f00;
}

header nav{
	position: relative;
	bottom: 160px;
	text-align: right;
	margin-top: 0px;
	padding-top: 0px;
}

header ul{
	padding:0;
	margin:0;
}

header li{
	display: inline;
	padding:0px 0px;
	margin:0 28px;
}

header .logo{
	position: relative;
	bottom: 25px;
}

header .logo img{
	width: 200px;
}
/** HEADER1 **/

/** SECTION **/
.container2{
	width:90%;
	margin:auto;
}

#section h3{
	text-align: center;
	font-family:Apple Display;
	font-size:40px;
	margin:40px 0px;
}

#section p{
	text-align:left;
	font-family:Apple Text;
	font-size:20px;
	line-height: 50px;
}

#section p a{
	text-decoration: none;
	color: red;
}
/** SECTION **/
/** SECTION2 **/

.container3{
	width:90%;
	margin:auto;
}

#section2 h3{
	text-align: left;
	font-family:Apple Text;
	font-size:40px;
	margin:40px 0px;
}

#section2 p{
	text-align:left;
	font-family:Apple Text;
	font-size:20px;
	line-height: 50px;
}
/** SECTION2 **/
/** SECTION3 **/

.container4{
	width:90%;
	margin:auto;
}

.social-logo{
	text-align: center;
	margin-top:50px;
}

.social-logo .logo{
	float:none;
	display:inline;
	margin: 0px 5px;
}

.social-logo .logo img{
    width:30px;
}

/** SECTION3 **/

#section4 .button{
	font-family: Apple Text;
	letter-spacing: 0.1em;
	color:#1c3a54;
	text-decoration: none;
	font-size:24px;
	border:2px solid #1c3a54;
	padding:7px 25px;
	border-radius: 25px;
}

#section4 .button:hover{
	background-color: #1c3a54;
	color:#ffffff;
}

#section4 .container6{
	width: 90%;
	margin: auto;
	margin-top: 30px;
}

/** FOOTER **/

#footer .container5{
	margin-bottom: 10px;
}

footer p{
	text-align: center;
	font-family:Apple Text;
	font-size: 15px;
}

/** FOOTER **/

.side-nav{
	height: 100%;
	width: 0px;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	opacity:0.9;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top:60px;
	transition:0.5s;

}

.side-nav a{
	padding:10px 10px 10px 30px;
	text-decoration:none;
	font-family: Medium;
	font-size:19px;
	color:#ccc;
	display:block;
	transition:0.3s;
}

.side-nav .btn-close{
	position: absolute;
	top:0px;
	right:22px;
	font-size:28px;
	margin-left: 50px;
}

.open-slide{
	position: absolute;
	top: 40px;
	left:20px;
}


/**RESPONSIVE**/

@media(max-width: 1283px){
	header nav li{
		float:none;
		text-align:center;
		width:100%;
	}

	header .logo{
		float:none;
		text-align:center;
		width:100%;
		position: relative;
		bottom: 30px;
	}

	header .logo img{
		width: 180px;
	}

	header nav{
		float:none;
		text-align: center;
		/**width: 100%;**/
		margin-top:0px;
	}

	header .side-nav a{
		font-family:Apple Text;
		font-size: 16px;
	}

	header li{
		margin:0 5px;
	}

	#texts h1{
		font-family: Proxima;
		letter-spacing: 0rem;
		font-size: 60px;
		line-height: 65px;
	}

	#section h3{
		font-size:35px;
	}

	#section p{
		font-size:15px;
		line-height: 30px;
	}

	#section2 h3{
		font-size:20px;
		margin:20px 0px;
	}

	#section2 p{
		font-size: 15px;
		line-height:30px;
	}

	#section4 .button{
		font-family: Apple Text;
		letter-spacing: 0.1em;
		color:#1c3a54;
		text-decoration: none;
		font-size:20px;
		border:2px solid #1c3a54;
		padding:7px 25px;
		border-radius: 25px;
	}

	#section4 .container6{
		width: 90%;
		margin: auto;
		margin-top: 20px;
	}

	footer p{
		font-size:12px;
	}

	.container{
		width:98%;
		margin:auto;
	}

	.container nav{
		display:none;
	}

	#footer .container5{
		margin-bottom: 10px;
	}
}

@media(min-width: 1283px){
	.open-slide{
		display:none;
	}
}
/** RESPONSIVE **/
